<form [formGroup]="form">
  <div class="flex-col">
    <h1>Vorgeschichte</h1>

    <mat-form-field appearance="outline" hideRequiredMarker color="accent">
      <mat-label>Actual anamnesys</mat-label>
      <textarea formControlName="actualAnamnesys" matInput cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker color="accent">
      <mat-label>Relevant additional information</mat-label>
      <textarea formControlName="relevantAdditionalInformation" matInput cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker color="accent">
      <mat-label>Previous diagnostics</mat-label>
      <textarea formControlName="previousDiagnostics" matInput cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker color="accent">
      <mat-label>Previous therapy</mat-label>
      <textarea formControlName="previousTherapy" matInput cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker color="accent">
      <mat-label>Diagnostic list</mat-label>
      <textarea formControlName="diagnosticList" matInput cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker color="accent">
      <mat-label>Exposure history</mat-label>
      <textarea formControlName="exposureHistory" matInput cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker color="accent">
      <mat-label>Social history</mat-label>
      <textarea formControlName="socialHistory" matInput cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker color="accent">
      <mat-label>Family history</mat-label>
      <textarea formControlName="familyHistory" placeholder="familyHistory" matInput cdkTextareaAutosize></textarea>
    </mat-form-field>
  </div>
</form>
