<form [formGroup]="form">
    <div class="flex-col">
      <h1>Vorgeschichte</h1>

        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Actual anamnesys</mat-label>
          <input formControlName="actualAnamnesys" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Relevant additional information</mat-label>
          <input formControlName="relevantAdditionalInformation" matInput/>
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Previous diagnostics</mat-label>
          <input formControlName="previousDiagnostics" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Previous therapy</mat-label>
          <input formControlName="previousTherapy" matInput  />
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Diagnostic list</mat-label>
          <input formControlName="diagnosticList" matInput  />
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Exposure history</mat-label>
          <input formControlName="exposureHistory" matInput  />
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Social history</mat-label>
          <input formControlName="socialHistory" matInput  />
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Family history</mat-label>
          <input formControlName="familyHistory" placeholder="familyHistory" matInput  />
        </mat-form-field>
    </div>
</form>
