<form [formGroup]="Form">
    <div class="flex-col">
        <mat-form-field appearance="outline" hideRequiredMarker>
            <input formControlName="actualAnamnesys" placeholder="actualAnamnesys" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <input formControlName="relevantAdditionalInformation" placeholder="relevantAdditionalInformation" matInput
                 />
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <input formControlName="previousDiagnostics" placeholder="previousDiagnostics" matInput  />
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <input formControlName="previousTherapy" placeholder="previousTherapy" matInput  />
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <input formControlName="diagnosticList" placeholder="diagnosticList" matInput  />
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <input formControlName="exposureHistory" placeholder="exposureHistory" matInput  />
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <input formControlName="socialHistory" placeholder="socialHistory" matInput  />
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <input formControlName="previousTherapy" placeholder="previousTherapy" matInput  />
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <input formControlName="familyHistory" placeholder="familyHistory" matInput  />
        </mat-form-field>
    </div>
</form>